[submodule "ASPs/VHDL-Autocorrelator"]
	path = ASPs/VHDL-Autocorrelator
	url = https://github.com/wolfuoa/VHDL-Autocorrelator.git
[submodule "ASPs/PD-ASP"]
	path = ASPs/PD-ASP
	url = https://github.com/bcho892/PD-ASP.git
[submodule "ReCOPs/701-ReCOP"]
	path = ReCOPs/701-ReCOP
	url = https://github.com/wolfuoa/701-ReCOP.git
[submodule "ASPs/701AvgASP"]
	path = ASPs/701AvgASP
	url = https://github.com/obwan02/701AvgASP
